services:
  backend:
    build: ./backend
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: prod
      FRONTEND_ORIGIN: "http://localhost"

      GAZETTEER_OPENCAGE_KEY: ${OPENCAGE_KEY}
      GAZETTEER_OPENWEATHER_KEY: ${OPENWEATHER_KEY}
      GAZETTEER_OER_KEY: ${OPENEXCHANGERATES_KEY}
      GAZETTEER_GEONAMES_USER: ${GEONAMES_USER}
      GAZETTEER_WORLDNEWS_KEY: ${WORLDNEWS_KEY}

    expose:
      - "8080"

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend